<div class="row">
<h2>Tosunlar</h2>
  <div class="col new-animal">
<div>Toplam Hayvan Sayısı: <strong><%= @animals.count %></strong></div>
    <%= link_to 'Excell İndir', bullocks_path(format: :pdf), class:"btn btn-danger", target: "_blank" %>
    <%= link_to "Yeni Hayvan Ekle", new_animal_path, class:"btn btn-success" %>
  </div>
</div>

  <div class="row">
    <div class="col">
        <table class="table table-hover table-bordered">
            <thead class="table-warning">
            <tr>
                <th scope="col">Küpe No</th>
                <th scope="col">Resmi</th>
                <th scope="col">Doğum Tarihi</th>
                <th scope="col">Adı</th>
                <th scope="col">Irkı</th>
                <th scope="col">Durumu</th>
                <th scope="col">Annesi'nin Resmi</th>
            </tr>
            </thead>
            <tbody>

            <% @animals.each do |animal| %>
                <% cache animal do %>
                    <tr data-link="<%= animal_path(animal) %>" >
                    <td><%= animal.earring_no %></td>
                    <td><%= image_tag(animal.image.url(:small)) %></td>
                    <td><%= animal.birthdate %></td>
                    <td><%= animal.name %></td>
                    <td><%= animal.race %></td>
                    <td><%= animal.state %></td>
                    <td><%= image_tag(animal.mother_image.url(:small)) %></td>
                    </tr>
                <% end %>
            <% end %>
            </tbody>
        </table>
    </div>
</div>
