<div class="row">
  <h2>Bütün Hayvanlar</h2>
  <div class="col new-animal">
<div>Toplam Hayvan Sayısı: <strong><%= @animals.count %></strong></div>
    <%= link_to 'PDF İndir', animals_path(format: :pdf), class:"btn btn-danger", target: "_blank" %>
    <%= link_to "Yeni Hayvan Ekle", new_animal_path, class:"btn btn-success" %>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table table-hover table-bordered">
      <thead class="table-warning">
        <tr>
          <th>#</th>
          <th scope="col">Küpe No</th>
          <th scope="col">Resmi</th>
          <th scope="col">Adı</th>
          <th scope="col">Doğum Tarihi</th>
          <th scope="col">Irkı</th>
          <th scope="col">Durumu</th>
          <th scope="col">Annesinin Resmi</th>
        </tr>
      </thead>
      <tbody>
        <% animal_count = 0 %>
        <% @animals.each do |animal| %>
          <tr data-link="<%= animal_path(animal) %>">
            <td><%= animal_count=animal_count+1 %></td>
            <td><%= animal.earring_no %></td>
            <td><%= image_tag(animal.image.url(:small)) %></td>
            <td><%= animal.name %></td>
            <td>
            <% if animal.birthdate.present? %>
              <%= animal.birthdate.strftime("%d/%m/%Y") %>
              <% else %>
              <%= animal.birthdate %>
            <% end %>
            </td>
            <td><%= animal.race %></td>
            <td><%= animal.state %></td>
            <td><%= image_tag(animal.mother_image.url(:small)) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
