<div class="row">
  <div class="col">
<div class="form-border">
    <div class="form-group search ">
    <h2>Hayvan Arama</h2>
        <%= form_tag(hayvan_ara_path) do %>
            <small id="KupeHelp" class="form-text text-muted">Yanlızca küpe numarası ile arama yapabilirsiniz</small>
            <%= number_field_tag :earring_no, class:"form-control", placeholder:"Küpe Numarasını Girin" %>
            <%= submit_tag 'Ara', class: "btn btn-success" %>
        <% end %>
    </div>
</div>
</div>
</div>

<% if @animal.present? %>
    <table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th class="strong" scope="col">#</th>
      <th class="strong" scope="col">Hayvan'ın Bilgileri</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="strong" scope="row">Küpe No</th>
      <td><%= @animal.earring_no %></td>
    </tr>
    <tr>
      <th class="strong" scope="row">Resim</th>
      <td><%= image_tag(@animal.image.url(:medium)) %></td>
    </tr>
    <tr>
      <th class="strong" scope="row">Adı</th>
      <td><%= @animal.name %></td>
    </tr>
    <tr>
    <tr>
      <th class="strong" scope="row">Doğum Tarihi</th>
      <td><%= @animal.birthdate %></td>
    </tr>
    <tr>
      <th class="strong" scope="row">Hayvan Türü</th>
      <td><%= @animal.animal_type %></td>
    </tr>
    <tr>
      <th class="strong" scope="row">Irkı</th>
      <td><%= @animal.state %></td>
    </tr>
    <tr>
      <th class="strong" scope="row">Durumu</th>
      <td><%= @animal.state %></td>
    </tr>
    <tr>
      <th class="strong" scope="row">Cinsiyeti</th>
      <td><%= @animal.gender %></td>
    </tr>
      <th class="strong" scope="row">Ana Küpe No</th>
      <td><%= @animal.mother_earring_no %></td>
    </tr>
    <tr>
      <th class="strong" scope="row">Koğuştuğu Tarih</th>
      <td><%= @animal.mating_date %></td>
    </tr>
    <tr>
      <th class="strong" scope="row">Annesi'nin Resmi</th>
      <td><%= image_tag(@animal.mother_image.url(:medium)) %></td>
    </tr>
    <tr>
      <th class="strong" scope="row">Danaları</th>
      <td>
      <% calf_count = 0 %>
    <% @animal.calves.each do |c| %>
        <div class="strong"><%= calf_count = calf_count +1 %>. Dana</div>
      <table class="table">
        <tbody>
            <tr>
            <th scope="row">Küpe No</th>
              <td><%= c.earring_no %></td>
            </tr>
            <tr>
              <th scope="row">Doğum Tarihi</th>
              <td><%= c.birthdate %></td>
            </tr>
            <tr>
              <th scope="row">Resmi</th>
              <td><%= image_tag(c.image.url(:medium)) %></td>
            </tr>
        </tbody>
      </table>
      <hr/>
    <% end %>

      </td>
    </tr>
    <tr>
      <th class="strong" scope="row">Aşıları</th>
      <td>
        <% @animal.scions.each do |scion| %>
          <div>
          <strong>Aşı Adı: </strong><%= scion.name %>
          <strong>Tarihi: </strong><%= scion.scion_date.strftime("%d/%m/%Y") %>
            <%= link_to '<i class="fa fa-trash"></i>'.html_safe, animal_scions_path(@animal, scion), method: :delete, data: {confirm: "Kaydı silmek istediğinizden emin misiniz?"}%>
          </div>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
    <%= link_to "Güncelle", edit_animal_path(@animal), class:"btn btn-warning" %>
<%= link_to "Sil", animal_path(@animal), method: :delete, data: {confirm: "Kaydı silmek istediğinizde emin misiniz?"}, class:"btn btn-dark  " %>
        </div>
    </div>
<% end %>

